USE [master]
GO
/****** Object:  Database [MalzemeKayitOtomasyonu]    Script Date: 15.06.2023 17:18:24 ******/
CREATE DATABASE [MalzemeKayitOtomasyonu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MalzemeKayitOtomasyonu', FILENAME = N'C:\SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MalzemeKayitOtomasyonu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MalzemeKayitOtomasyonu_log', FILENAME = N'C:\SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MalzemeKayitOtomasyonu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MalzemeKayitOtomasyonu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MalzemeKayitOtomasyonu]
GO
/****** Object:  Table [dbo].[ilceler]    Script Date: 15.06.2023 17:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ilceler](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ilceadi] [nvarchar](255) NOT NULL,
	[sehirid] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_iller]    Script Date: 15.06.2023 17:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_iller](
	[ilID] [int] NULL,
	[il] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Kategoriler]    Script Date: 15.06.2023 17:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Kategoriler](
	[kategoriID] [smallint] IDENTITY(1,1) NOT NULL,
	[kategoriAdı] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Markalar]    Script Date: 15.06.2023 17:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Markalar](
	[markaID] [smallint] IDENTITY(1,1) NOT NULL,
	[markaAdi] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_MusteriKayit]    Script Date: 15.06.2023 17:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_MusteriKayit](
	[Musterid] [smallint] IDENTITY(1,1) NOT NULL,
	[MusteriAd] [varchar](50) NULL,
	[MusteriSoyad] [varchar](50) NULL,
	[MusteriTC] [char](11) NULL,
	[MusteriTelefon] [varchar](15) NULL,
	[MusterIl] [varchar](50) NULL,
	[MusteriIlce] [varchar](50) NULL,
	[MusteriAdres] [varchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_SatisListesi]    Script Date: 15.06.2023 17:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_SatisListesi](
	[listeID] [smallint] IDENTITY(1,1) NOT NULL,
	[listeMusteriAdi] [varchar](50) NULL,
	[listeMusteriSoyadi] [varchar](50) NULL,
	[listeMusteriTC] [char](11) NULL,
	[listeKategori] [varchar](50) NULL,
	[listeUrunMarkasi] [varchar](50) NULL,
	[listeUrunModelKodu] [varchar](50) NULL,
	[listeUrunAdet] [int] NULL,
	[listeUrunOzellik] [varchar](200) NULL,
	[listeSatisFiyati] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_SatisYap]    Script Date: 15.06.2023 17:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_SatisYap](
	[SatisID] [smallint] IDENTITY(1,1) NOT NULL,
	[SatisMusteriAd] [varchar](50) NULL,
	[SatisMusteriSoyad] [varchar](50) NULL,
	[SatisMarka] [varchar](50) NULL,
	[SatisModel] [varchar](50) NULL,
	[SatisMusteriTC] [char](11) NULL,
	[SatisMusteriTelefon] [varchar](50) NULL,
	[SatisStokKodu] [varchar](50) NULL,
	[SatisAdet] [int] NULL,
	[SatisMusteriIl] [varchar](50) NULL,
	[SatisMusteriIlce] [varchar](50) NULL,
	[SatisAlisFiyati] [int] NULL,
	[SatisKDV] [int] NULL,
	[SatisMusteriAdres] [varchar](200) NULL,
	[SatisUrunOzellikleri] [varchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_UrunKayit]    Script Date: 15.06.2023 17:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_UrunKayit](
	[UrunID] [smallint] IDENTITY(1,1) NOT NULL,
	[UrunKategori] [varchar](50) NULL,
	[UrunMarka] [varchar](50) NULL,
	[UrunModelKodu] [varchar](50) NULL,
	[UrunStokKodu] [varchar](50) NULL,
	[UrunAdet] [int] NULL,
	[UrunAlisFiyati] [int] NULL,
	[UrunKDV] [int] NULL,
	[UrunOzellikleri] [varchar](200) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ilceler] ON 

INSERT [dbo].[ilceler] ([id], [ilceadi], [sehirid]) VALUES (1, N'ALADAĞ', 1)
INSERT [dbo].[ilceler] ([id], [ilceadi], [sehirid]) VALUES (2, N'CEYHAN', 1)
INSERT [dbo].[ilceler] ([id], [ilceadi], [sehirid]) VALUES (3, N'ÇUKUROVA', 1)
GO
SET IDENTITY_INSERT [dbo].[ilceler] OFF
GO
INSERT [dbo].[Tbl_iller] ([ilID], [il]) VALUES (1, N'Adana')
INSERT [dbo].[Tbl_iller] ([ilID], [il]) VALUES (2, N'Adıyaman')
INSERT [dbo].[Tbl_iller] ([ilID], [il]) VALUES (3, N'Afyon')
GO
SET IDENTITY_INSERT [dbo].[Tbl_Kategoriler] ON 

INSERT [dbo].[Tbl_Kategoriler] ([kategoriID], [kategoriAdı]) VALUES (1, N'İşlemci')
INSERT [dbo].[Tbl_Kategoriler] ([kategoriID], [kategoriAdı]) VALUES (2, N'Anakart')
INSERT [dbo].[Tbl_Kategoriler] ([kategoriID], [kategoriAdı]) VALUES (3, N'Ram')
SET IDENTITY_INSERT [dbo].[Tbl_Kategoriler] OFF
GO
SET IDENTITY_INSERT [dbo].[Tbl_Markalar] ON 

INSERT [dbo].[Tbl_Markalar] ([markaID], [markaAdi]) VALUES (1, N'AMD')
INSERT [dbo].[Tbl_Markalar] ([markaID], [markaAdi]) VALUES (2, N'INTEL')
INSERT [dbo].[Tbl_Markalar] ([markaID], [markaAdi]) VALUES (3, N'ASUS')
SET IDENTITY_INSERT [dbo].[Tbl_Markalar] OFF
GO
SET IDENTITY_INSERT [dbo].[Tbl_MusteriKayit] ON 

INSERT [dbo].[Tbl_MusteriKayit] ([Musterid], [MusteriAd], [MusteriSoyad], [MusteriTC], [MusteriTelefon], [MusterIl], [MusteriIlce], [MusteriAdres]) VALUES (1, N'faruk', N'kayık', N'11111111111', N'(111) 111-1111', N'İstanbul', N'Şişli', N'kdjasdjakldjasşdjaslkşdjasşdkjasşdjas')
INSERT [dbo].[Tbl_MusteriKayit] ([Musterid], [MusteriAd], [MusteriSoyad], [MusteriTC], [MusteriTelefon], [MusterIl], [MusteriIlce], [MusteriAdres]) VALUES (2, N'gökdeniz', N'aksu', N'22222222222', N'(222) 222-2222', N'ordu', N'ünye', N'dasdadasdsad')
INSERT [dbo].[Tbl_MusteriKayit] ([Musterid], [MusteriAd], [MusteriSoyad], [MusteriTC], [MusteriTelefon], [MusterIl], [MusteriIlce], [MusteriAdres]) VALUES (7, N'Göktuğ', N'Han', N'88888888888', N'(888) 888-8888', N'Aydın', N'DİDİM', N'aljdhsakljdhsaljdhsaljkdhasldhadaakldjahsdkjhakdjhklashdkajshdjahdlkjahdslajkdhsajkldhaslkjdhaskjdhasjdhsalkjdahsdkjhas')
SET IDENTITY_INSERT [dbo].[Tbl_MusteriKayit] OFF
GO
SET IDENTITY_INSERT [dbo].[Tbl_SatisListesi] ON 

INSERT [dbo].[Tbl_SatisListesi] ([listeID], [listeMusteriAdi], [listeMusteriSoyadi], [listeMusteriTC], [listeKategori], [listeUrunMarkasi], [listeUrunModelKodu], [listeUrunAdet], [listeUrunOzellik], [listeSatisFiyati]) VALUES (5, N'Göktuğ', N'Han', N'88888888888', N'Ram', N'CORSAIR', N'ram-32', 1, N'sdfsdfsdfsdfsdfsdfdsfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsd', 3304)
SET IDENTITY_INSERT [dbo].[Tbl_SatisListesi] OFF
GO
SET IDENTITY_INSERT [dbo].[Tbl_UrunKayit] ON 

INSERT [dbo].[Tbl_UrunKayit] ([UrunID], [UrunKategori], [UrunMarka], [UrunModelKodu], [UrunStokKodu], [UrunAdet], [UrunAlisFiyati], [UrunKDV], [UrunOzellikleri]) VALUES (3, N'Ram', N'CORSAIR', N'ram-32', N'ram-32gb', 97, 2800, 18, N'sdfsdfsdfsdfsdfsdfdsfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsd')
SET IDENTITY_INSERT [dbo].[Tbl_UrunKayit] OFF
GO
USE [master]
GO
